<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="ToggleSidebar()"
        aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Kalender</span>
    <button mat-flat-button color="primary marginleft1" (click)="todaysDate()">Heute</button>

    <button mat-icon-button aria-label class="" (click)="previousDate()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with settings icon" (click)="nextDate()">
        <mat-icon>chevron_right</mat-icon>
    </button>
    
    <p *ngIf="selectedValue === 'month' || selectedValue === 'week'" class="marginleft2 margintop">{{currentMonthasString}} {{currentYear}}</p>
    <p *ngIf="selectedValue === 'day'" class="marginleft2 margintop">{{currentDay}}</p>

    <span class="flex-spacer"></span>

    <form class="marginleft3"><mat-form-field>
            <mat-label>Zeitperiode</mat-label>
            <mat-select [(value)]="selectedValue" (selectionChange)=SetView()>
                @for (period of timePeriods; track timePeriods) {
                <mat-option [value]="period.value">{{period.viewValue}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </form>
</mat-toolbar>