<div class="calendar-container">
  <mwl-calendar-day-view *ngIf="view === 'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)" (beforeViewRender)="dateChange($event)"></mwl-calendar-day-view>
  <mwl-calendar-week-view *ngIf="view === 'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)" (beforeViewRender)="dateChange($event)"></mwl-calendar-week-view>
  <mwl-calendar-month-view *ngIf="view === 'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
    (eventTimesChanged)="eventTimesChanged($event)" (beforeViewRender)="dateChange($event)"></mwl-calendar-month-view>
</div>